.productContainer{
    display: flex;
    width: 100%;
    padding:15px;
    flex-direction: column;
}


#segment{
    width: 100%;
    display: flex;
    align-items: center;
}


#heading1{
    width: 18%;
    color:#96a320;
    font-size: 32px;
    font-weight: bold;
}

.hrLine{
    border: none;
    border-top: 1px solid #96a320;
    width: 100%;
}


.text{
    width: 50%;
    line-height: 2;
    padding : 10px;
}
.textdown{
    line-height: 2;
    padding : 10px;
}
#heading2{
    width: 18%;
    color:#96a320;
    font-size: 24px;
}
#heading3{
    width: 20%;
    color:#96a320;
    font-size: 24px;
}
.listcontainer{
    display:flex;
    width: 100%;
    gap:30%;
    align-items: center;
}
.listcontainer2{
    display:flex;
    width: 100%;
    gap:28.7%;
    align-items: center;
}
.leftitems{
    display: flex;
    align-items: center;
    line-height: 2;
}
.rightitems{
    display: flex;
    align-items: center;
    line-height: 2;
}
.items{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding:10px;
    padding-top: 20px;
    list-style-type: none;
}
.item{
    display:flex;
    align-items: center;
}
.circel{
    margin-right: 5px;
    display: flex;
    /* align-items: center; */
    color:#96a320;
}

.olitems{
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 10px 0px 0px 10px;
    gap: 10px;
}


.olitem{
    line-height: 2;
}
