.navbarBox{
    width: 100%;
    height: 60px;
    
    background: linear-gradient(to right, #13294b, #1c1c1c), linear-gradient(to left, #2f2f2f, #242424);
    /* background: linear-gradient(to right, #212121, #484848, #636363, #757575, #9e9e9e); */
    /* background: linear-gradient(to right, #262626, #1c1c1c), linear-gradient(to left, #2f2f2f, #242424); */
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;

    display: flex;
    align-items: center; /* ----> Centres the items vertically */
    position: fixed;

    top: 0;
    z-index: 999;
    padding:0;
    transition: transform 0.3s ease-in-out; /* Add a transition for a smooth effect */
}
.navbarBox.hidden {
    transform: translateY(-100%);
  }

.container{
    width: 100%;
    display: flex;
    padding: 5px;
    align-items: center;
}

.navLeft{
    flex: 1;
    display: flex;
    align-items: center;
    padding-left: 25px;
    gap: 18px;
}


.logo{
    width: 36px;
    height: 36px;
    object-fit: cover;
    opacity: 1;
}

.logoTitle{
    font-size: 20px;
    font-weight: bold;
    color: #ffff;
}



.navRight{
    flex: 3;
    display: flex;
    align-items: center;
    gap: 15%;
}


.navbarOption{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.navbarOption:hover{
    transform: scale(1.02);
    text-decoration: underline !important;
    /* text-decoration-color: white !important; */
    -webkit-text-decoration-color: #ffff; /* Safari */  
     text-decoration-color: #ffff;
     color: white;
}

.navLinks{
    display: flex;
    align-items: center;
    cursor: pointer;
    color: white;
   
}