.navbarBox{
    width: 100%;
    height: 60px;

    /* background: linear-gradient(to right, #212121, #484848, #636363, #757575, #9e9e9e); */
    background: linear-gradient(to right, #13294b, #1c1c1c), linear-gradient(to left, #2f2f2f, #242424);
    /* background: linear-gradient(to bottom, #00c6ff, #0072ff, #00c6ff); */
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;

    /* background: linear-gradient(to right, #2196f3, #1abc9c); */
    /* background: linear-gradient(to right, #1abc9c, #2196f3, #1abc9c); */
    /* clip-path: circle(10% at 10% 10%); */
    
    


    display: flex;
    align-items: center; /* ----> Centres the items vertically */
    position: sticky;

    /* top: 0; */
    z-index: 999;
    padding:0;
}

.container{
    width: 100%;
    display: flex;
    padding: 5px;
    align-items: center;
}

.navLeft{
    flex: 1;
    display: flex;
    align-items: center;
    padding-left: 25px;
    gap: 18px;
}


.logo{
    width: 36px;
    height: 36px;
    object-fit: cover;
    opacity: 1;
}

.logoTitle{
    font-size: 20px;
    font-weight: bold;
    color: #ffff;
}

.navRight{
    flex: 3;
    display: flex;
    align-items: center;
    gap: 15%;
}


.navbarOption{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.navbarOption:hover{
    transform: scale(1.02);
    text-decoration: underline !important;
    /* text-decoration-color: white !important; */
    -webkit-text-decoration-color: #ffff; /* Safari */  
     text-decoration-color: #ffff;
}

.navLinks{
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #ffff;
}






